<div id="fixpoints-list" class="container">
  <div class="row">
    <% if !@fixpoints.empty? %>
      <% fixpoints.each do |fixpoint| %>
        <div class="col-3">
          <div class="card_fix">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
              <% if fixpoint.fixpoint_attachments.present? %>
                <%= cl_image_tag fixpoint.fixpoint_attachments.first.photo %>
              <% else %>
                <%= image_tag('http://res.cloudinary.com/domeafay4/image/upload/v1559217010/rb3iyntwumo23d0vnapt.jpg') %>
              <% end %>
              <p class="card-status <%= fixpoint.fixed ? 'bg-success' : 'bg-danger' %>"><%= fixpoint.fixed ? 'Fixed' : 'Not fixed' %></p>
              <div class="card-body text-dark">
                <div class="card-main-header">
                  <div class="user-avatar">
                    PP
                  </div>
                  <div>
                    <p><%= fixpoint.address %></p>
                    <p><small class="text-muted">Created <%= time_ago_in_words(fixpoint.created_at) %> ago</small></p>
                  </div>
                </div>
                <div class="card-main-footer">
                  <div>
                    <% if fixpoint.aesthetics? %>
                      <span class="badge badge-primary"><%= fixpoint.category %></span>
                    <% end %>
                    <% if fixpoint.pollution? %>
                      <span class="badge badge-warning"><%= fixpoint.category %></span>
                    <% end %>
                    <% if fixpoint.hazard? %>
                      <span class="badge badge-danger"><%= fixpoint.category %></span>
                    <% end %>
                    <% if fixpoint.accessibility? %>
                      <span class="badge badge-success"><%= fixpoint.category %></span>
                    <% end %>
                  </div>
                  <%= render "shared/votes", fixpoint: fixpoint %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1>No fixpoints</h1>
    <% end %>
  </div>
</div>