<%#= render 'fixpoints_list', fixpoints: @fixpoints %>

<%#= render "map" %>


<% if params[:view] == 'list' %>
  <%= render 'fixpoints_list', fixpoints: @fixpoints %>
<% else %>
  <%= render "map" %>
<% end %>

<div class="plus_button">
  <%= link_to '+', new_fixpoint_path %>
</div>

<div class="toggle_button">
  <%= link_to toggle_link, id: "toggle-list" do %>
    <% if params[:view] == 'list' %>
      <i class="fas fa-toggle-off"></i>
    <% else %>
      <i class="fas fa-toggle-on"></i>
    <% end %>
  <% end %>
</div>

<div class="b">
  <%= render 'shared/sidebar' %>
</div>


<!-- Modal -->
<div class="modal fade" id="newphotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
