<div>
  <% if fixpoint.fixpoint_attachments.present? %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <%= cl_image_tag fixpoint.fixpoint_attachments.each do |attachment| %>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= attachment.first.photo >
      </div>
      <div class="carousel-item">
        <%= attachment.photo >
      </div>
</div>
    </div>
    <% end %>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  <% else %>
    <%= image_tag('http://res.cloudinary.com/domeafay4/image/upload/v1559217010/rb3iyntwumo23d0vnapt.jpg') %>
  <% end %>
  <div class="card-body text-dark">
    <p class="card-text"><%= fixpoint.category %></p>
    <p class="card-text"><%= fixpoint.address %></p>
    <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(fixpoint.created_at) %> ago</small></p>
  <button type="button" class="btn btn-link"> <%= link_to "Add photos", edit_fixpoint_path(fixpoint.id) %> </button>
</div>
